# frontend から接続する backend API のURL
NEXT_PUBLIC_API_URL=http://localhost:4000
INTERNAL_API_URL=

# SupabaseプロジェクトURL
NEXT_PUBLIC_SUPABASE_URL=

# Supabase anonキー
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImJpZWVjZGlmaHhwZmhqaW9wc3BjIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODEwNTE3NDUsImV4cCI6MjA5NjYyNzc0NX0.EWLzI_4Q02sYxv3jYltA7jZcKBvwdDMXRitf9OgQ1Vw