# Prisma
# Supabase接続URL（Pooler）
DATABASE_URL=

# Supabase接続URL（Direct）
DIRECT_URL=

# Supabase
# SupabaseプロジェクトURL
SUPABASE_URL=

# Supabase service_roleキー
SUPABASE_SERVICE_KEY=

# Redis
# Docker Compose環境では以下を使用
REDIS_URL=redis://redis:6379

# Stripe
STRIPE_SECRET_KEY=
STRIPE_PRICE_ID=
STRIPE_WEBHOOK_SECRET=

# App
# frontend のURL
FRONTEND_URL=http://localhost:3000

# backend の起動ポート
PORT=4000